*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.LoginContainer{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
  }

.LoginImage{
    width: 50%;
    height: 100vh;
    background-image: url(./src/Image/Frame41.png);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.LoginDetails{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.LoginGoogle{
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.LoginwithGoogle{
    width: 100%;
    height: 45%;
    border: 1px solid rgb(79, 77, 77);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.LoginOptiontag{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 5px;
}

.line{
    width: 26%;
    height: 1px;
    background-color: rgb(137, 133, 133);
}

.LoginCreateAccount{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.LoginGoogleIcon{
    font-size: 30px;
}

.LoginpTag{
    font-size: 14px;
}

.LoginMain2{
    width: 60%;
    height: 23%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}


.Logininputtag2{
    width: 100%;
    height: 50%;
    border: 1px solid rgb(76, 72, 72);
    border-radius: 10px;
    padding-left: 10px;
}

.Logininputtag3{
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
}

.Logininputtag3Inner{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(76, 72, 72);
    border-radius: 10px;
    padding-left: 10px;
}

.LoginpasswordEYE{
    position: absolute;
    right: 4%;
    top: 35%;
    font-size: 20px;
}

.LoginTick{
    width: 60%;
    display: flex;
    color: red;
    height: 2%;
    gap: 5px;
}

.CircleImage{
    font-size: 15px;
}

.LoginButtonContainer{
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.LoginButton{
    width: 100%;
    height: 30%;
    background-color: #C90A12;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.logo{
    width: 30%;
    height: 10%;
    background-image: url(./src/image/Frame43.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}

.logoText{
    width: 45%;
    height: 30%;
    align-items: center;
    display: flex;


}


.LoginOptiontag h4{
    color: black;
}
